body {
    background: linear-gradient(skyblue 0%, pink 100%);
    background-repeat: no-repeat;
    height: 800px;
}

button {
    border-radius: 25px;
    background-color: royalblue;
    margin: 5px;
    color: black;
    height: 500px;
    width: 300px;
    font-size: xx-large;
    padding: 5px;
}

.mainimg {
    height: 500px;
    top: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
}

h1 {
    text-align: center; 
 }
 
 hr {
     width: 150px;
     height: 3px;
     background: black;
 }