.mainimg {
    height: 600px;
    top: 0;
    right: 0;
    padding: 0px;
    margin: 0px;
}

body {
    background: linear-gradient(skyblue 0%, pink 100%);
    background-repeat: no-repeat;
}

.buttons {
    border-radius: 25px;
    background-color: royalblue;
    margin: 5px;
    color: black;
    height: 25px;
    font-size: medium;
}