body {
    background: linear-gradient(skyblue 0%, pink 100%);
    background-repeat: no-repeat;
    height: 800px;
}

.buttons {
    height: 35px;
    display: inline-block;
    padding-bottom: 10px !important;
    margin: 10px;
    font-size: large !important;
    border-radius: 30px !important;
}
h1 {
    text-align: center; 
 }
 
 hr {
     width: 150px;
     height: 3px;
     background: black;
 }